:root {
    /* 
    Colours from:
    https://www.colourpod.com/post/615662712776753152/after-midnight-submitted-by-v3joker-080e1f
    */
    --theme-bg-colour: #080e1f;
    --theme-darker-colour: #0f3545;
    --theme-dark-colour: #1f5267;
    --theme-regular-colour: #2c6272;
    --theme-light-colour: #bac8d2;
    --theme-darkest-colour: black;
    --theme-lightest-colour: white;

    
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap');




/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}


body {
    background-color: var(--theme-bg-colour);
    margin: 0px;
}


section {
    min-height: 100vh;
    height: 100vh;
}

section:nth-child(2n) {
    background-color: var(--theme-darker-colour);
}

header {

}

nav {

}

#about-me {

}

#projects {

}

#skills {

}

#work-history {

}

#education-history {

}

#contact-and-social {

}

footer {

}

  
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
  
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}